.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container {
        width: 1400px;
        display: flex;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 50px;

                i {
                    font-weight: 300;
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                .searchInput{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    input {
                        border: none;
                        outline: none;
                    }
                }

                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                    border-radius: 0px 5px 5px 0px;
                    -webkit-border-radius: 0px 5px 5px 0px;
                    -moz-border-radius: 0px 5px 5px 0px;
                    -ms-border-radius: 0px 5px 5px 0px;
                    -o-border-radius: 0px 5px 5px 0px;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {

                }

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    font-size: 14px;
                    cursor: pointer;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
            }
        }

        .right {
            height: 100%;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}