.messages {
    display: flex;
    justify-content: center;
  
    .container {
        width: 1400px;
        padding: 50px 0px;
  
        .title {
            display: flex;
            justify-content: space-between;
        }
  
        table {
            width: 100%;
  
            tr {
                height: 100px;

                th {
                    text-align: left;
                }

                td {
                    padding: 10px;
        
                    &:first-child {
                        font-weight: 500;
                    }
                    
                    &:nth-child(2),
                    &:nth-child(3) {
                        color: gray;
                    }
                }
  
                button {
                    background-color: #1dbf73;
                    color: white;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
        
                &.active {
                    background-color: #1dbf730f;
                }
            }
        }
    }
}
